{% extends "base.html" %}
{% block content %}
<h2>Edit Episode</h2>

{% if error %}
<div class="alert alert-danger" role="alert">
    Error: {{error}}
  </div>
{% endif %}

<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name" maxlength="60" value="{{user.first_name}}">
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name" maxlength="60" value="{{user.last_name}}">
    </div>

    <button type="submit" class="btn btn-primary">Update Profile</button>
    <a href="{% url 'dashboard' %}" class="btn btn-danger">Discard</a>
    


</form>
{% endblock %}